<h1>Villes</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Habitants</th>
            <td>{{ entity.habitants }}</td>
        </tr>
        <tr>
            <th>Densite</th>
            <td>{{ entity.densite }}</td>
        </tr>
        <tr>
            <th>Departement</th>
            <td>{{ entity.departement }}</td>
        </tr>
        <tr>
            <th>Nomville</th>
            <td>{{ entity.nomVille }}</td>
        </tr>
        <tr>
            <th>Nomvillemaj</th>
            <td>{{ entity.nomVilleMaj }}</td>
        </tr>
        <tr>
            <th>Nomvilleurl</th>
            <td>{{ entity.nomVilleUrl }}</td>
        </tr>
        <tr>
            <th>Codepostal</th>
            <td>{{ entity.codePostal }}</td>
        </tr>
        <tr>
            <th>Codeinsee</th>
            <td>{{ entity.codeInsee }}</td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>{{ entity.latitude }}</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td>{{ entity.longitude }}</td>
        </tr>
        <tr>
            <th>Coordfixed</th>
            <td>{{ entity.coordFixed }}</td>
        </tr>
        <tr>
            <th>Cparr</th>
            <td>{{ entity.cpArr }}</td>
        </tr>
        <tr>
            <th>Arrondissement</th>
            <td>{{ entity.arrondissement }}</td>
        </tr>
        <tr>
            <th>Latrad</th>
            <td>{{ entity.latrad }}</td>
        </tr>
        <tr>
            <th>Lonrad</th>
            <td>{{ entity.lonrad }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('villes') }}">
            Back to the list
        </a>
    </li>
</ul>
